In [3]:
CREATE TABLE Contact_Us (Email varchar(max),Question varchar(max))

: Msg 229, Level 14, State 5, Line 1
The SELECT permission was denied on the object 'Contact_Us', database 'master', schema 'dbo'.